<%- include("partials/header"); -%>

<div class="insideContainer">
  <section class="intro">
    <div class="left">
      <h1 id="headline">Book Now</h1>
      <h1 class="headline2"><br /></h1>
      <img src="/images/PinkDots.png" class="pinkDotsImage" alt="Pink dots">
      <h2>Book now to secure your spot for your upcoming event, no matter how far in advance!</h2>
      <p>Please include the product you are interested in, your event date and any other details relevant to the build. I will contact you at my earliest convenience to discuss the event specifics and specific details to make your event a success.
        Booking your event as far in advance as possible is greatly advised to make sure your requested date is available. I look forward to helping you make your event one to remember!</p>
    </div>
    <div class="right">
      <div class="yellowBox2"></div>
      <iframe class="introImage3" src="https://www.youtube.com/embed/CfBS3j_sW4o" title="Luxury Pastel Balloon Garland" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

      <img src="/images/YellowDots.jpg" class="yellowDotsImage" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage2" alt="Yellow dots">
      <img src="/images/YellowDots.jpg" class="yellowDotsImage3" alt="Yellow dots">
    </div>
  </section>
  <section>
    <div class="alertBox">
      <% if(typeof alert != 'undefined') { %>
      <% alert.forEach(function(error) { %>
      <div class="alert" role="alert">
        <img src="images/icon-error.svg" class="errorIcon" alt="error" />
        <%= error.msg %>
      </div>
      <% }) %>
      <% } %>
    </div>
    <div class="formContainer">
      <form id="form" autocomplete="off" method="post">
        <input type="text" id="name" name="name" placeholder="Name" value="<%= data.name  %>"><br />

        <input type="text" id="email" name="email" placeholder="Email" value="<%= data.email %>"><br />
        <input type="text" id="subject" name="subject" placeholder="Subject" value="<%= data.subject %>"><br />
        <label for="date">Event date</label>
        <input type="date" name="eventDate" id="eventDate" value=""><br />
        <p>Product choices</p>
        <input type="radio" name="productChoices" value="Standard Garland" id="standardGarland">
        <label for"standardGarland">Standard Garland</label><br />
        <input type="radio" name="productChoices" value="Luxury Garland" id="luxuryGarland">
        <label for"luxuryGarland">Luxury Garland</label><br />
        <input type="radio" name="productChoices" value="Moon Gate Garland" id="moonGateGarland">
        <label for"moonGateGarland">Moon Gate Garland</label><br />
        <input type="radio" name="productChoices" value="Rainbow Arch" id="rainbowArch">
        <label for"rainbowArch">Rainbow Arch</label><br />
        <input type="radio" name="productChoices" value="Balloon Mosaic" id="balloonMosaic">
        <label for"balloonMosaic">Balloon Mosaic</label><br />
        <textarea name="response" id="message" placeholder="Your Message" value=""><%= data.response %></textarea><br />
        <button type="submit" id="submit" aria-label="Submit">Send</button>
      </form>
    </div>
  </section>
</div>





<%- include("partials/footer"); -%>
